@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap');

body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Nav */
.nav-container{
    position: sticky;
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: #0b0f5f;
    top: 0vh;
    z-index: 2;
}
#navBar-content{
    border: 2px solid green;
    width: 80%;
}
.nav-container #logo{
    position: absolute;
    width: 8vw;
    left: 1.5vw;
}
.nav-container #name{
    width: 17vw;
    position: absolute;
    right: 1.5vw;
}
.nav-container a{
    text-decoration: none;
    color: white;
    background-color: #40438b;
    padding: 15px;
    border-radius: 100% 0% 20% 0%;
    margin: 10px;
    font-size: 1.6vw;
    transition-duration: 500ms;
}

.nav-container a:hover{
    border-radius: 30% 10% 30% / 30%;
}

.nav-container .active{
    background-color: #a6abf4;
    color: white;
}
.navigation{
    left: 50vh;
}

/* onama */

.onama-naslov{
    width: 677px;
    height: 195px;
    position: absolute;
    top: 13vh;
}

.onama-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    background-image: url("../pattern.png");
    background-size: cover;
    background-position: center;
}

.onama-text{
    width: 60%;
}

/* footer */
#footer-wave{
    background-image: url(../images/footerWave.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 10vw;
    width: 100%;
}
.footer-container{
    height: 30vh;
    background-color: #0b0f5f;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
}
.footer-container #line-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
.footer-container img{
    width: 30vw;
}
.footer-container #footer-icons{
    width: 20%;
    height: 35%;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    margin: 0% 1% 0% 0%;
    padding: 0% 1%;
    border-left: 2px solid #40438b;
    border-right: 2px solid #40438b;
}
.footer-container #footer-icons p:hover{
    text-decoration: underline;
    text-decoration-color: #eeb326;
    cursor: pointer;
}
.footer-container #footer-socials{
    width: 15%;
    color: white;
    font-size: 1.5vw;
    height: 26%;
    padding: 0% 1%;
}
.footer-container a{
    color: white;
}
.footer-container i{
    color: #eeb326;
}
#footer-socials i, #footer-socials p{
    position: relative;
    display: inline-block;
}
#footer-socials p{
    opacity: 0;
    animation: social-word-slide-back 500ms ease-in-out;
}
#footer-socials a:hover > p{
    animation: social-word-slide 500ms ease-in-out forwards;
    text-decoration: underline;
    text-decoration-color: #eeb326;
    cursor: pointer;
}
@keyframes social-word-slide {
    0% {
        right: 0vw;
        opacity: 0;
    }

    100%{
        right: 1.6vw;
        opacity: 1;
    }
}
@keyframes social-word-slide-back {
    0% {
        right: 1.6vw;
        opacity: 1;
    }

    100%{
        right: 0vw;
        opacity: 0;
    }
}
#footer-socials #youtube{
    left: 0vw;
    animation: youtube-slide-back 500ms ease-in-out forwards;
}
#footer-socials #yt:hover > #youtube{
    animation: youtube-slide 500ms ease-in-out forwards;
}
@keyframes youtube-slide {
    0%{
        left: 0vw;
    }
    100%{
        left: 6vw;
    }
}
@keyframes youtube-slide-back {
    0%{
        left: 6vw;
    }
    100%{
        left: 0vw;
    }
}
#footer-socials #facebook{
    left: 6.6vw;
    animation: facebook-slide-back 500ms ease-in-out forwards;
}
#footer-socials #fb:hover > #facebook{
    animation: facebook-slide 500ms ease-in-out forwards;
}
@keyframes facebook-slide {
    0%{
        left: 0vw;
    }
    100%{
        left: 6.6vw;
    }
}
@keyframes facebook-slide-back {
    0%{
        left: 6.6vw;
    }
    100%{
        left: 0vw;
    }
}